@tailwind base;
@tailwind components;
@tailwind utilities;

:host,
html,
body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

svg {
  shape-rendering: crispEdges;
}

svg circle,svg line,svg path,svg polygon,svg rect {
  shape-rendering: geometricprecision;
}


.customScrollBar {
  scrollbar-gutter: stable;
}

.customScrollBar::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.customScrollBar::-webkit-scrollbar-track {
  background-color: transparent;
}

.customScrollBar::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full
}

.scrolling-touch, body, html {
  -webkit-overflow-scrolling: touch;
}

body {
  @apply bg-zinc-900 h-full overflow-x-hidden;
}

.blur-mask {
  -webkit-mask: linear-gradient(rgb(24 24 27 / 0.9) 85%, transparent);
  mask: linear-gradient(rgb(24 24 27 / 0.9) 85%, transparent);
}